@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root {
    --main-color: #f7f9fe;
    --second-color: #fff;
    --head-color: #394B6C;
    --head-second-color: #4B6691;
    --head-third-color: #FF5363;
    --pop-text-color: #2a81ea;
    --pop-hover-color: #165fb8;
    --normal-font-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.1s all ease-in-out;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--main-color);
}

.container-m {
    width: 90%;
    margin: auto;
}

.darkMood {
    min-width: 50px;
    min-height: 50px;
    font-size: 20px;
    background-color: var(--pop-text-color);
    color: #fff;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.251);
    z-index: 10;
}


/*
::-webkit-scrollbar {
    width: 0.3vw;
}

html {
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar-track {
    background: var(--main-color);
}

 ::-webkit-scrollbar-thumb {
    background: var(--pop-text-color);
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--pop-hover-color);
}
*/

@media only screen and (max-width: 769px) {
    .container-m {
        width: 100%;
    }
}