.prevent {
    background-color: transparent;
}

.prevent .cards .inner div {
    box-shadow: none;
    text-align: center;
}

.prevent .cards .inner div div {
    position: relative;
    box-shadow: none;
    text-align: center;
    background-color: transparent;
}

.prevent .cards .inner div img {
    width: 150px;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.prevent .cards .inner div h5 {
    font-weight: 700;
    color: var(--pop-hover-color);
}

.prevent .questBTN {
    margin: 3em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prevent .questBTN button {
    background-color: var(--pop-text-color);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
    margin-bottom: 10px;
}

.prevent .questBTN button:hover {
    background-color: var(--pop-hover-color);
}

.prevent .questBTN button i {
    margin-left: 5px;
    margin-right: 0px;
}

.prevent .questBTN a {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'oswald';
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    font-weight: 500;
    color: var(--pop-text-color);
    letter-spacing: 1px;
}

.prevent .questBTN a:hover {
    color: var(--pop-hover-color);
}

.prevent .innersteps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.095);
    margin: 5em 0 2em 0;
}

.prevent .innersteps .steps p {
    font-size: 19px;
}

.prevent .innersteps .steps i {
    color: #52c98b;
    margin-right: 10px;
}

.prevent .washHands {
    padding: 2em 0 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prevent .washHands .questBTN {
    margin: 1em 0 3em 0;
}

.prevent .washHands .washStepsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.prevent .washHands .washStepsCard>div {
    padding: 2em;
}

.prevent .washHands img {
    border-radius: 50%;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.057);
}

.prevent .washHands p {
    margin: 10px 0;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .prevent .innersteps {
        padding: 3em 20px;
    }
    .prevent .innersteps img {
        display: none;
    }
}