.traetment {
    min-height: 100vh;
    padding: 0;
    background-image: linear-gradient(45deg, var(--pop-hover-color), var(--pop-text-color), var(--pop-hover-color));
    color: #fff;
}

.traetment .layout {
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../photos/Header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}

.traetment .layout .innerTreat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.traetment .layout .innerTreat .left h4 {
    font-weight: 700;
    color: var(--pop-light-color);
    font-size: 20px;
}

.traetment .layout .innerTreat .left h3 {
    font-weight: 700;
    font-size: 45px;
    font-family: 'oswald';
    color: #fff;
}

.traetment .layout .innerTreat .left p,
.traetment .layout .innerTreat .left p b {
    margin: 20px 0;
    color: #fff;
}

.traetment .layout .innerTreat .right {
    padding: 0 1em;
}

.traetment .layout .innerTreat .right .rightInner {
    background-color: var(--pop-hover-color);
    padding: 2em 3em;
    border-radius: 25px;
}

.traetment .layout .innerTreat .right .rightInner p,
.traetment .layout .innerTreat .right .rightInner p b,
.traetment .layout .innerTreat .right .rightInner ul li,
.traetment .layout .innerTreat .right .rightInner ul li i {
    color: #fff;
}

.traetment .layout .innerTreat .right .rightInner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.traetment .layout .innerTreat .right .rightInner ul li {
    margin: 10px 0;
}

.traetment .layout .innerTreat .right .rightInner ul li i {
    margin: 0 10px 0 0;
}