.transmission {
    background-color: var(--second-color);
    min-height: 100vh;
    padding: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--normal-font-color);
}

.transmission h4 {
    color: #2a81ea;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.transmission h3 {
    font-weight: 900;
    font-family: 'Oswald';
    font-size: 42px;
    color: #50658E;
    text-align: center;
}

.transmission .prag {
    max-width: 80%;
    text-align: center;
}

.transmission .cards {
    margin: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.transmission .cards .inner {
    padding: 5px 10px;
}

.transmission .cards .inner div div {
    background-color: var(--second-color);
    padding: 30px 30px 10px 30px;
}

.transmission .cards .inner div img {
    width: 100%;
    border-bottom: 5px solid #2a80eace;
}

.transmission .cards .inner div h5 {
    color: var(--pop-text-color);
    font-size: 18px;
    font-family: 300;
}

.transmission .cards .inner div p {
    line-height: 1.5em;
    font-size: 15px;
}

.questBTN {
    margin: 3em 0 0 0;
}

.questBTN button {
    background-color: var(--pop-text-color);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
}

.questBTN button * {
    color: #fff;
}

.questBTN button:hover {
    background-color: var(--pop-hover-color);
}

.questBTN button i {
    margin-right: 5px;
}